@{
    ViewData["Title"] = "Products";
}
@model FilterProduct

<div class="row d-flex mt-3">
    <div class="col-md-3 pe-2 ps-5">
        <h5>Resultados: @Model.Data.Count</h5>
        <form asp-action="Products">
            <div class="mt-4 me-4">
                <select class="form-select form-select-sm" asp-for="Category" asp-items="ViewBag.Category">
                    <option selected>Seleccionar</option>
                </select>
            </div>
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" asp-for="EnvioGratis" type="checkbox" role="switch" id="switch">
                <label class="form-check-label" for="switch">Envio Gratis</label>
            </div>
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" asp-for="EnvioInter" type="checkbox" role="switch" id="cinternacional">
                <label class="form-check-label" for="cinternacional">Envio Internacional</label>
            </div>
            <button class="btn-sm btn-primary mt-4" type="submit">
                <i class="bi bi-search me-1"></i>
                Buscar
            </button>
        </form>
    </div>
    <div class="col-md-9 ps-4 pe-5">
        <div class="d-flex justify-content-end mb-3">
            <form asp-action="Search" class="search-bar me-2" role="search">
                <input class="form-control form-control-sm" asp-for="SearchValue" type="search" placeholder="Search">
            </form>
            <form asp-action="ReorderData">
                <button class="btn-sm btn-primary" type="submit">
                    <i class="bi bi-grid-fill"></i>
                </button>
            </form>
        </div>
        @foreach(var product in Model.Data){
            <div class="row bg-light mb-3 p-2 shadow border rounded">
                <div class="col-3 d-flex align-items-center">
                    <img class="img-fluid" src="@Html.DisplayFor(m => product.Img)" alt="">
                </div>
                <div class="col-9">
                    <h6 class="my-1">@Html.DisplayFor(m => product.Name)</h6>
                    <a class="text-decoration-none text-white" asp-controller="Dashboard" asp-action="InfoProduct" asp-route-id="@product.Id">
                        <button class="btn-sm btn-warning text-white float-end">
                            <i class="bi bi-pen me-1"></i>
                            Editar
                        </button>
                    </a>
                    <p class="mt-2 mb-1">@Html.DisplayFor(m => product.Description)</p>
                    @if(product.Discount > 0)
                    {
                        <span class="mt-3 mb-1 me-3 text-success fw-bold">Descuento @Html.DisplayFor(m => product.Discount)%</span>
                    }
                    <span class="mt-3 mb-1 text-primary fw-bold">@Html.DisplayFor(m => product.ShippingType)</span>
                    <h4 class="my-1">@String.Format("{0:c}", product.Cost)</h4>
                </div>
            </div>
        }
    </div>
</div>